<html>
    <head>
        <title>Ataxia | Horizontal Test</title>
    </head>

    <script src = "../scripts/testhorizontaltouch.js" type = "text/javascript"></script>
    <style>
        .reset{
            background-color:#FF0000;
            border: none;
            padding: 15px 25px;
        }
    </style>

    <body onload="init()" >
            <p id="fails">Total Fails: 0</p>
            <p id="misses">Start fails: 0</p>
            <p id="outofcanvas">OutOfCanvas: 0</p>
            <p id="discontinuities">Discontinuities: 0</p>
            <p id="off">Off-By-20: 0</p>
            <p id="reverses">Reverses: 0</p>
            <button id="reset", class="reset" onclick = reset()>RESET</button><br><br>
            <a href="testhorizontal.html"><button id="mouse", class="mouse" >MOUSE</button></a>
            <p id="list"></p>
            <canvas id="can" width="1200" height="400" style="position:absolute;   top:5%;   left:10%;  border:2px solid;"></canvas>
            <img id="canvasimg" style="position:absolute;top:10%;left:52%;" style="display:none;">
            
    </body>
</html>